
.memo {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.pin {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    width: 5px;
    height:5px;
	border-radius: 100%;
    background: rgb(210, 60, 60);

    position:absolute; right: 0; top: 0;
}

.title {
    height: 2em;
    line-height: 2em;
    width: 200px;
    padding: 5px;
    z-index: 10;
    background-color: rgb(255, 255, 107);
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
}

.content {
    padding: 5px;
    z-index: 10;
    background-color: rgb(255, 255, 107);
    color: rgb(0, 0, 0);
    text-align: center;
}

.bottom {
    padding: 5px;
    z-index: 10;
    background-color: rgb(255, 255, 107);
    text-align: center;
}

.panel {
    padding: 5px;
    z-index: 10;
    text-align: center;
}
